@use "../../scss/color" as *;
@use "../../scss/font" as *;
@use "../../scss/mixin" as *;

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 1rem;
    position: relative;
    overflow-x: hidden;


    img {
       width: 100vw;
    }
    h1 {
        position: absolute;
        bottom: 50%;
        color: white; 
        font-family: $hero-font;
        text-transform: uppercase;
        opacity: .6; 
        transition: all .5s ease-in-out;
        @media (min-width:768px) {
            font-size: 3rem;
        }
    }
    ul {
        position: absolute;
        top: 50%;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all .5s ease-in-out;

        li {
            list-style: none;
            margin: 0 1rem;

            a {
                text-decoration: none;
                color: white;
                @include animate-middle-out;
            }
        }
    }
}

