@use "../../scss/font" as *;
@use "../../scss/mixin" as *;
@use "../../scss/color" as *;

.social-main {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.social-container {
    display: flex;
    flex-direction: row;

    a {
        margin: 0 1rem 0;
        cursor: pointer;
        color: black;
        transition: all .1s ease-in;

        &:hover{
            color: rgb(151, 151, 151);
        }
    }
}