@use "../../scss/font" as *;
@use "../../scss/mixin" as *;
@use "../../scss/color" as *;

.nav-bar {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;

    @media (min-width: 768px) {
        justify-content: space-around;
    }

    .burger {
        width: 2rem;
        height: 2rem;
        position: fixed;
        top: 15px;
        right: 20px;
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
        z-index: 20;
        display: none;
        cursor: pointer;
    
        @media (max-width: 768px) {
            display: flex;
            justify-content: space-around;
            flex-flow: column nowrap;
        }

        .lines {
            width: 2rem;
            height: 2px;
            border-radius: 15px;
            transform-origin: 1px;
            transition: all 0.3s linear;
            // background-color is in the Burger.jsx
        }
    }
    .logo {
        width: 250px;
        height: auto;
    }

    ul {
        list-style: none;
        text-decoration: none;
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        padding: 0;
        transition: transform 0.3s ease-in-out;
    
        li {
            text-align: center;
            padding: 18px 10px;

            a {
                text-decoration: none;
                color: rgb(0, 0, 0); //font color
                font-weight: 200;
                @include animate-underline-left;
            }
        }

        @media (max-width: 768px) {
            flex-flow: column nowrap;
            background: rgba($color: rgb(221, 221, 221), $alpha: 0.9);
            color: #fff;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 100%;
            padding: 6rem 0rem 0rem 2rem;
            // transform is used in the RightNav.jsx file
        }
    }
}
.active {
    opacity: .3;
}