@use "../../scss/font" as *;
@use "../../scss/mixin" as *;
@use "../../scss/color" as *;

.footer {
    margin: 0 auto;
    width: 300px;
    border-top: 1px rgba(0, 0, 0, 0.2) solid;
    padding: 1rem 0 .5rem;
    transition: all .5s ease-in;
    // @media (min-width: 768px) {
    //     width: 600px;
    // }

    .copyright {
        font-size: .8rem ;
        text-align: center;
        margin: .5rem 0 1rem 0;
    }
}
