@use "./color.scss" as *;
@use "./font.scss" as *;
@use "./mixin.scss" as *;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-color;
  font-family: $main-font;
}

.page {
  .general-section {
    height: 100vh;
  }
}