@use "./color.scss" as *;
@use "./font.scss" as *;
@use "./mixin.scss" as *;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-color;
  font-family: $main-font;
}

.page {
  height: fit-content;
  .general-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 7rem;
    // justify-content: space-between;
    height: 100%;
  }
}